{%  extends 'layout.html.twig' %}

{% block title %}
    Panier
{% endblock %}

{% block content %}

    {{ dump(products) }}
    {{ dump(panier) }}
    <section id="cart_items">
        <div class="container">
            <h1 class="title title-h1">Panier</h1>
            {% if products is not empty %}
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Item</td>
                                <td class="description">Libellé</td>
                                <td class="price">Prix</td>
                                <td class="quantity">Quantité</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="cart_product">
                                    <img src="{{ asset('images/photo/' ~ product.photo) }}" alt="">
                                </td>
                                <td class="cart_description">
                                    <h4>{{ product.title }}</h4>
                                    <p>Web ID: {{ product.id }}</p>
                                </td>
                                <td class="cart_price">
                                    <p>{{ product.price }} €</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="{{ panier[product.id] }}" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{ product.price * panier[product.id] }} €</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tr>
                                        <td>Total panier</td>
                                        <td>$59</td>
                                    </tr>
                                    <tr>
                                        <td>Tva</td>
                                        <td>$2</td>
                                    </tr>
                                    <tr class="shipping-cost">
                                        <td>Frais de livraison</td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td><span>$61</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    Aucun produit dans le panier.
                </div>
            {% endif %}

        </div>
    </section>

{% endblock %}
