{%  extends 'layout.html.twig' %}

{% block title %}
    Panier
{% endblock %}

{% set totalHT = 0 %}
{% set tva = 0 %}
{% set totalTTC = 0 %}

{% block content %}
    <section id="cart_items">
        <div class="container">
            <h1 class="title title-h1"><span>Panier</span></h1>
            {% if products is not empty and products is defined %}
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Item</td>
                                <td class="description">Libellé</td>
                                <td class="price">Prix HT</td>
                                <td class="quantity">Quantité</td>
                                <td class="total">Total HT</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            {% set price = product.price | HT %}
                            <tr>
                                <td class="cart_product">
                                    <img src="{{ asset('images/photo/' ~ product.photo) }}" alt="">
                                </td>
                                <td class="cart_description">
                                    <h4>{{ product.title }}</h4>
                                </td>
                                <td class="cart_price">
                                    <p>{{ price }} €</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <form action="{{ path('update_panier', {'id': product.id}) }}" method="get">
                                            <select name="qte" id="qte" class="form-control" onchange="this.form.submit()">
                                                {% for i in 1..10 %}
                                                    <option value="{{ i }}" {% if i == panier[product.id] %} selected {% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{ price * panier[product.id] }} €</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="{{ path('delete_panier', { 'id': product.id }) }}"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            {% set totalHT = totalHT + (price * panier[product.id]) %}

                        {% endfor %}

                        {% set tva = totalHT | TVA %}
                        {% set totalTTC = totalHT + tva %}

                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tr>
                                        <td>Total panier</td>
                                        <td>{{ totalHT }} €</td>
                                    </tr>
                                    <tr>
                                        <td>Tva</td>
                                        <td>{{ tva }} €</td>
                                    </tr>
                                    <tr class="shipping-cost">
                                        <td>Frais de livraison</td>
                                        <td>Gratuit</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td><span>{{ totalTTC }} €</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    Aucun produit dans le panier.
                </div>
            {% endif %}

        </div>
    </section>

{% endblock %}
