{%  extends 'layout.html.twig' %}

{% block title %}
    Acceuil
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% include('components/_carousel.html.twig') %}
            <h2 class="title-h1"><span>Produits les plus récents</span></h2>
            <div>
                {% if products is not empty and products is defined %}
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="{{ path('page_product', {
                                                'category': product.subCategory.category.slug,
                                                'subCategory': product.subCategory.slug,
                                                'slug': product.slug,
                                                'id': product.id
                                            }) }}">
                                                <img src="{{ asset('images/photo/' ~ product.photo) }}" alt="" />
                                                <h4>{{ product.title }}</h4>
                                            </a>
                                            <h2>{{ product.price }} €</h2>
                                            <form action="{{ path('add_panier', {'id': product.id}) }}" method="get">
                                                <input type="hidden" name="redirect" value="{{ app.request.server.get('REQUEST_URI') }}">
                                                <button type="submit" class="btn btn-fefault add-to-cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Ajouter au panier
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        Aucun produit trouvé.
                    </div>
                {% endif %}
            </div>

            {% include('components/_brand.html.twig') %}

            <h2 class="title-h1"><span>Description de votre site Pet Shop</span></h2>
            <div class="row">
                <div class="col-sm-7 text-welcome text-justify">
                    <p>
                        Depuis 2019, <strong>Pet Shop</strong> propose le meilleur à nos amis les bêtes sur <strong>Internet</strong> avec son animalerie
                    <p>
                        en ligne :
                    </p>
                    </p>
                    <ul>
                        <li>
                            - Une <strong>nourriture pour animaux</strong> élaborée en collaboration avec les <strong>meilleurs experts</strong> vétérinaires, qu’il s’agisse de croquettes pour chien et chat, de pâtée, de graines pour oiseaux ou de granulés pour rongeurs,
                        </li>

                        <li>
                            - Des soins et produits d’hygiène répondant aux <strong>normes de qualité</strong> les plus exigeantes, pour <strong>protéger</strong> la santé des animaux, mais aussi de leurs maîtres,
                        </li>

                        <li>
                            - Des couchages pour chien et chat <strong>douillets et spacieux</strong>, de splendides aquariums et de vastes terrariums pour offrir un <strong>maximum de confort</strong> à vos compagnons de tous les jours,
                        </li>

                        <li>
                            - Des jouets pour animaux pour <strong>tous les budgets</strong> : peluches chat et chien, balles, roues pour hamster, arbres à chat…
                        </li>

                        <li>
                            - Ainsi que divers accessoires destinés à <strong>améliorer votre quotidien</strong> et le leur (laisses, gamelles, ou distributeurs de nourriture par exemple).
                        </li>
                    </ul>
                    <p>
                        <strong>Très pratique</strong>, l’animalerie en ligne permet de commander tout le <strong>matériel nécessaire</strong> à l’installation de votre animal depuis chez vous,
                        et à vous réapprovisionner en nourriture et en produits d’hygiène <strong>très rapidement</strong>.
                    </p>
                    <p>
                        Expertes et passionnées, les équipes de Pet Shop vous accompagnent et vous conseillent pour
                        vous aider à choisir les <strong>meilleurs produits</strong> pour votre animal de compagnie :
                        Pet Shop des Animaux à vivre et à aimer.
                    </p>
                </div>
                <div class="col-sm-5 animaux_compagnie">
                    <img src="{{ asset('images/acceuil/animaux_compagnie_grande.jpg') }}" alt="animaux de compagnie">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
