{% extends 'layout.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function verif(evt) {
            var keyCode = evt.which ? evt.which : evt.keyCode;
            var accept = '0123456789';
            if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}


{% block content %}

    <div class="container">
        <h1 class="title-h1">Inscription</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.username) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.adress) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.postal_code) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.city) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.phone) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.mail) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.password) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
