{%  extends 'layout.admin.html.twig' %}

{% block title %}
    Dashboard - Pet-shop
{% endblock %}

{% block content %}
    <section class="wrapper">
        {% include 'admin/dashboard/components/_navbar.admin.html.twig' %}
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent bg-primary header-pet">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler btn-toggler-dashboad">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <h1 class="title-h1">Dashboard</h1>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            {% for message in app.flashes('add') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <section>
                <div class="container-fluid">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Photo</th>
                            <th>Prix</th>
                            <th>Sous-categorie</th>
                            <th>Marque</th>
                            <th>Color</th>
                            <th>Composition</th>
                            <th>Dimension</th>
                            <th class="text-center">Editer</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for p in products %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.title }}</td>
                                    <td>{{ p.description | summaryAdmin }}</td>
                                    <td>{{ p.photo }}</td>
                                    <td>{{ p.price }}</td>
                                    <td>{{ p.subCategory.name }}</td>
                                    <td>{{ p.marque }}</td>
                                    <td>{{ p.color }}</td>
                                    <td>{{ p.composition }}</td>
                                    <td>{{ p.dimension }}</td>
                                    <td class="text-center edit-pet"><a href="{{ path('admin_edit_product', {
                                            'id': p.id
                                        }) }}"><i class="fas fa-pencil-alt"></i></a></td>
                                    <td class="text-center sup-pet"><a href="{{ path('admin_delete_product', {
                                            'id': p.id
                                        }) }}"><i class="far fa-trash-alt"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}