<h2 class="title-h1">Nos Partenaires</h2>
<div class="marque-pet">
    <a href="{{ path('page_brand', {
        'slug': 'zolux'
    }) }}">
        <img src="{{ asset('images/brand/zolux.jpg') }}" alt="marque_zolux">
    </a>
    <a href="{{ path('page_brand', {
        'slug': 'vitakraft'
    }) }}">
        <img src="{{ asset('images/brand/vitakraft.jpg') }}" alt="marque_vitakraft">
    </a>
    <a href="{{ path('page_brand', {
        'slug': 'ferplast'
    }) }}">
        <img src="{{ asset('images/brand/ferplast.jpg') }}" alt="marque_ferplast">
    </a>
    <a href="{{ path('page_brand', {
        'slug': 'acana'
    }) }}">
        <img src="{{ asset('images/brand/acana.jpg') }}" alt="marque_exoterra">
    </a>
</div>