<div id="slider-carousel" class="carousel slide slider-pet" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#slider-carousel" data-slide-to="1"></li>
        <li data-target="#slider-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner slider_image">
        <div class="item active">
            <a href="{{ path('page_subcategory', {
                'category': 'rongeur',
                'slug': 'alimentation'
            }) }}">
                <img src="{{ asset('images/carousel/rongeur_1.jpg') }}" class="girl img-responsive"/>
            </a>
        </div>
        <div class="item">
            <a href="{{ path('page_subcategory', {
                'category': 'oiseaux',
                'slug': 'accessoires'
            }) }}">
                <img src="{{ asset('images/carousel/carousel_1.jpg') }}" class="girl img-responsive" alt="" />
            </a>
        </div>
        <div class="item">
            <a href="{{ path('page_subcategory', {
                'category': 'chien',
                'slug': 'alimentation'
            }) }}">
                <img src="{{ asset('images/carousel/alimentation_1.jpg') }}" class="girl img-responsive" alt="" />
            </a>
        </div>
    </div>
    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>