{% if app.session.get('panier') is not empty %}
    {% set count = 0 %}
    {% for i in app.session.get('panier') %}
        {% set count = count + 1 %}
    {% endfor %}
{% endif %}

<header id="header"><!--header-->
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 clearfix">
                    <a href="{{ path('page_home') }}"><img src="{{ asset('images/logo_petshop.jpg') }}" alt="Logo Pet Shop"></a>
                </div>
                <div class="col-md-8 clearfix">
                    <div class="shop-menu clearfix pull-right">
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="#"><i class="fa fa-user"></i> Mon compte</a></li>
                                <li><a href="{{ path('page_deconnexion') }}"><i class="fas fa-times-circle"></i> Déconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('page_register') }}"><i class="fa fa-user"></i> S'inscrire</a></li>
                                <li><a href="{{ path('page_login') }}"><i class="fa fa-lock"></i> Login</a></li>
                            {% endif %}

                            {% if count is defined and count > 0 %}
                                <li><a href="{{ path('page_panier') }}"><i class="fa fa-shopping-cart"></i> Panier ({{ count }})</a></li>
                            {% else %}
                                <li><a href="{{ path('page_panier') }}"><i class="fa fa-shopping-cart"></i> Panier</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            {% for categorie in categories %}
                                <li class="dropdown"><a href="{{ path('page_category', {
                                        'slug': categorie.slug
                                    }) }}">{{ categorie.name | capitalize }}<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        {% for sub in categorie.subCategories %}
                                            <li><a href="{{ path('page_subcategory', {
                                                    'category': categorie.slug,
                                                    'slug': sub.slug
                                                }) }}">{{ sub.name | capitalize }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->